:root {
  --potato-input-container-padding: 12px;
  --potato-input-container-border: 1px solid var(--potato-color-border);
  --potato-input-container-border-radius: var(--potato-border-radius);
}

.input-container {
  border: var(--potato-input-container-border);
  border-radius: var(--potato-input-container-border-radius);
  display: flex;
  padding: var(--potato-input-container-padding);
}
